<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
            <input type="text" v-model="fisrtName" placeholder="First Name">
            <input type="text" v-model="middleName" placeholder="Middle Name">
            <input type="text" v-model="lastName" placeholder="Last Name">
        </div>
        <div>
            <p>Nama Lengkap : {{fisrtName}} {{middleName}} {{lastName}}</p>
            <p>Full Name : {{fullName}} </p>
        </div>
    </div>
    <script type="module">
        import {createApp} from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        createApp({
            data(){
                return {
                    fisrtName:'',
                    middleName:'',
                    lastName:''
                }
            },
            computed:{
                fullName(){
                    return this.fisrtName + ' ' + this.middleName + ' ' + this.lastName
                }
            }
        }).mount('#app')
    </script>
</body>
</html>